nav
{
    display: flex;
    margin-left: 100px;
}
#Logo
{
    display: flex;
    height: 100px;
    width: auto;
    margin-right: 150px;
}
#Titulo 
{
    display: flex;
    height: 220px;
    width: 1050px;
    margin-top: 40px;
    background-color: #C22E63;
    color: white;
    font-size: 120px;
    border-radius: 20px;
    
}
#Titulo h1
{
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    justify-content: center;
}
#Ajustes 
{
    display: flex;
    height: 100px;
    margin-left: 250px;
    margin-top: 150px;
}
#Ajustes:hover
{
    display: flex;
    height: 110px;
    margin-left: 250px;
    margin-top: 150px;
}
#Usuario 
{
    display: flex;
    height: 150px;
    margin-left: 100px;
    margin-top: 120px;
}

#Usuario:hover 
{
    display: flex;
    height: 160px;
    margin-left: 100px;
    margin-top: 120px;
}
#HistorialCuenta
{
    display: flex;
    margin-top: 5%;
    margin-left: 28%;
    background-color: #C22E63;
    color: black;
    font-size: 60px;
    height: 160px;
    width: 1200px;
    border-radius: 60px;
    
}
#HistorialCuenta h1
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 60px;
}
#blanco
{
    color: white;
}
#tablaMovimientos
{
    margin-top: 3%;
    margin-left: 38%;
    height: 80px;
    width: 800px;
    font-size: 30px;
    background-color:white;
    color:#570b26;
}
#botonatras
{
    margin-left: 50%;
    margin-top: 2%;
    height: 40px;
    width: 70px;
    justify-content: center;
    border-radius: 15px;
    color: white;
    background-color: #C22E63;
    font-size: 20px;
}
#botonatras:hover
{
    margin-left: 50%;
    margin-top: 2%;
    height: 43px;
    width: 73px;
    justify-content: center;
    border-radius: 15px;
    color: white;
    background-color: #C22E63;
    font-size: 23px;
}
