nav
{
    display: flex;
    margin-left: 100px;
}
#Logo
{
    display: flex;
    height: 300px;
    width: auto;
    margin-right: 70px;
}
#Titulo 
{
    display: flex;
    height: 220px;
    width: 1050px;
    margin-top: 40px;
    background-color: #C22E63;
    color: white;
    font-size: 120px;
    border-radius: 20px;
    
}
#Titulo h1
{
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    justify-content: center;
}
#Ajustes 
{
    display: flex;
    height: 100px;
    margin-left: 400px;
    margin-top: 150px;
}
#Ajustes:hover
{
    display: flex;
    height: 110px;
    margin-left: 400px;
    margin-top: 150px;
}
#Usuario 
{
    display: flex;
    height: 150px;
    margin-left: 100px;
    margin-top: 120px;
}

#Usuario:hover 
{
    display: flex;
    height: 160px;
    margin-left: 100px;
    margin-top: 120px;
}
#form
{
    display: flex;
    justify-content: center;
    background-color:  #C22E63;
    width: 1100px;
    height: 1000px;
    color: white;
    margin-left: 650px;
    border-radius: 100px;
}
#form form
{
    height: 680px;
    margin-top: 50px;
    font-size: 30px;

}
.barra
{
    
    display: flex;
    height: 55px;
    width: 120%;
    border-radius: 20px; 
    font-size: 30px;
    justify-content: center;   
}
#form label
{
    margin-top: 20px;
    display: flex;
    height: 40px;
    width: 115%;
    justify-content: center;

}

.h1
{
    display: flex;
    margin-left: 850px;
    margin-top: 0px;
    font-size: 30px;
    
}
#Cesde
{
    color: #C22E63;
    margin-left: 20px;
    
}
#boton
{
    display: flex;
    height: 55px;
    width: 190px;
    font-size: 25px;
    color:  #C22E63;
    background-color:white;
    border-radius: 190px;
    margin-left: 120px;
    justify-content: center;
}
#boton:hover
{
    display: flex;
    height: 58px;
    width: 193px;
    font-size: 28px;
    color:  #C22E63;
    background-color:white;
    border-radius: 190px;
    margin-left: 123px;
    justify-content: center;
}

